name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04]

    steps:
      - name: find librabbitmq4
        run: |
          set +e
          find / -name 'librabbitmq.so.4' 2>/dev/null
          set -e

      - name: install jonathonf/ffmpeg-4
        run: |
          sudo add-apt-repository ppa:jonathonf/ffmpeg-4
          sudo apt-get update
          sudo apt install -y \
            ffmpeg \
            libavcodec-dev \
            libavdevice-dev \
            libavfilter-dev \
            libavformat-dev \
            libavutil-dev \
            libpostproc-dev \
            libswresample-dev \
            libswscale-dev

      - name: test ffmpeg-4
        run: ffmpeg -version
      
      - name: find librabbitmq4
        run: |
          set +e
          find / -name 'librabbitmq.so.4' 2>/dev/null
          set -e

        
